In [29]:
import pandas as pd 

population = pd.read_csv('./서울 지하철역 생활인구.csv' , encoding = 'utf-8')

In [30]:
population['MZ세대'] = population['연령대_30_유동인구_수'] + population['연령대_20_유동인구_수']

In [31]:
population

,기준_년분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,총_유동인구_수,남성_유동인구_수,여성_유동인구_수,연령대_10_유동인구_수,연령대_20_유동인구_수,...,시간대_17_21_유동인구_수,시간대_21_24_유동인구_수,월요일_유동인구_수,화요일_유동인구_수,수요일_유동인구_수,목요일_유동인구_수,금요일_유동인구_수,토요일_유동인구_수,일요일_유동인구_수,MZ세대
0,20234,D,발달상권,3120249,고덕역,513153,254560,258592,156515,51352,...,122525,54027,72754,73916,74764,73955,76166,76732,64865,99150
1,20234,D,발달상권,3120248,명일역,1504781,667229,837552,311931,146774,...,282561,191601,212525,212787,213654,211853,216180,217870,219915,343982
2,20234,D,발달상권,3120247,굽은다리역,710160,322544,387616,94210,89014,...,140286,92064,101038,99489,99839,99347,100471,105806,104170,197664
3,20234,D,발달상권,3120246,길동역,4412632,2074555,2338077,385856,702266,...,761822,555975,625641,633994,635017,638214,645248,629965,604552,1513963
4,20234,D,발달상권,3120244,암사역,737658,347745,389912,100452,93811,...,142827,93079,103647,103009,102682,102958,104834,112323,108205,220643
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10455,20191,A,골목상권,3110030,동대문역 3번,196492,93587,102904,15547,23099,...,35008,24908,27322,28025,28200,28408,29366,28116,27056,46254
10456,20191,A,골목상권,3110029,동대문역 1번,2786089,1314319,1471768,298605,345135,...,430575,361462,398388,395429,392201,392172,389193,404272,414434,693527
10457,20191,A,골목상권,3110027,혜화역 1번,593312,256130,337183,65726,161168,...,125862,70637,77261,79668,82473,83539,84988,94663,90721,264741
10458,20191,A,골목상권,3110026,종로5가역 4번,442341,242939,199402,24198,59408,...,78805,38193,66306,65980,66737,70441,69582,58826,44468,121319
10459,20191,A,골목상권,3110002,독립문역 1번,540585,246868,293717,96885,65609,...,96631,70361,76301,77283,79044,78826,78583,75041,75508,123011

In [32]:
population = population.sort_values(by = ['MZ세대'] , ascending= False)

In [33]:
population.to_csv('./MZ세대 포함 유동인구.csv', index = False, encoding = 'utf-8-sig')

In [34]:
grouped_df = population.groupby('상권_코드_명')['MZ세대'].sum().reset_index()

In [36]:
top_50_station = grouped_df.sort_values(by = 'MZ세대', ascending=False)

In [37]:
top_50_station # MZ 세대가 가장 많은 상권(역)

                      상권_코드_명      MZ세대
11                        강남역  84282263
347           신촌역(신촌역, 신촌로터리)  78458738
332                   신림역(신림)  53326563
330  신림역 5번(신림동주민센터, 신림동별빛거리)  51928426
504                 홍대입구역(홍대)  51650304
..                        ...       ...
416                    온수역 1번    181412
418                    온수역 8번     78141
70                김포공항역(김포공항)     76128
429           월드컵경기장역(월드컵경기장)     59401
315                    신내역 2번     45618

[523 rows x 2 columns]

In [47]:
near_yaksu = ['동대입구역', '금호역', '신당역','버티고개역']
prof_df = top_50_station['상권_코드_명'].isin(near_yaksu)

prof_df.any()

True

In [48]:
top_100_stations = grouped_df.sort_values(by='MZ세대', ascending=False)
top_100_stations = top_100_stations.head(100)
prof_df_100 = top_100_stations['상권_코드_명'].isin(near_yaksu)
prof_df_100.any()

True

In [49]:
top_100_stations.to_csv('./top_100_stations.csv',index=False, encoding='utf-8-sig')

In [ ]:
# 100 안에 금호역만 포함되어있음.