In [10]:
#pip install pandas

In [6]:
import pandas as pd

df = pd.read_csv('./fulldata_07_24_04_P_일반음식점.csv', encoding = 'cp949',low_memory=False)

In [11]:
fnb_name = df.transpose()

In [20]:
fnb_name.index # 사업장명 존재 (일반음식점, 휴게음식점 에 한해서 브랜드 전체 뽑아내면 될지?) # 사업장명 존재 (일반음식점, 휴게음식점 에 한해서 브랜드 전체 뽑아내면 될지?)

Index(['번호', '개방서비스명', '개방서비스아이디', '개방자치단체코드', '관리번호', '인허가일자', '인허가취소일자',
       '영업상태구분코드', '영업상태명', '상세영업상태코드', '상세영업상태명', '폐업일자', '휴업시작일자', '휴업종료일자',
       '재개업일자', '소재지전화', '소재지면적', '소재지우편번호', '소재지전체주소', '도로명전체주소', '도로명우편번호',
       '사업장명', '최종수정시점', '데이터갱신구분', '데이터갱신일자', '업태구분명', '좌표정보(x)', '좌표정보(y)',
       '위생업태명', '남성종사자수', '여성종사자수', '영업장주변구분명', '등급구분명', '급수시설구분명', '총직원수',
       '본사직원수', '공장사무직직원수', '공장판매직직원수', '공장생산직직원수', '건물소유구분명', '보증액', '월세액',
       '다중이용업소여부', '시설총규모', '전통업소지정번호', '전통업소주된음식', '홈페이지', 'Unnamed: 47'],
      dtype='object')

In [25]:
df.set_index(keys='번호').head()

,개방서비스명,개방서비스아이디,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태구분코드,영업상태명,상세영업상태코드,상세영업상태명,...,공장생산직직원수,건물소유구분명,보증액,월세액,다중이용업소여부,시설총규모,전통업소지정번호,전통업소주된음식,홈페이지,Unnamed: 47
번호,,,,,,,,,,,,,,,,,,,,,
1,일반음식점,07_24_04_P,3930000,5560000-101-2023-00271,2023-09-22,NaN,3,폐업,2,폐업,...,0.0,NaN,0.0,0,N,0.0,NaN,NaN,NaN,NaN
2,일반음식점,07_24_04_P,4710000,4710000-101-2023-00096,2023-09-22,NaN,3,폐업,2,폐업,...,0.0,NaN,0.0,0,N,9.0,NaN,NaN,NaN,NaN
3,일반음식점,07_24_04_P,3740000,3770000-101-2023-00341,2023-09-22,NaN,3,폐업,2,폐업,...,0.0,NaN,0.0,0,N,0.0,NaN,NaN,NaN,NaN
4,일반음식점,07_24_04_P,3740000,3770000-101-2023-00339,2023-09-22,NaN,3,폐업,2,폐업,...,0.0,NaN,0.0,0,N,0.0,NaN,NaN,NaN,NaN
5,일반음식점,07_24_04_P,4221000,4221000-101-2023-00058,2023-09-22,NaN,3,폐업,2,폐업,...,0.0,NaN,0.0,0,N,0.0,NaN,NaN,NaN,NaN